$green--dark: #00b248
$green--primary: #19e619
$green--light: #66ffa6
$red--primary: #fd0202

///BUTTON-BGC-ACCEPT
$button-accept--enabled: $green--primary
$button-accept--hover: darken($green--primary, 2.5%)
$button-accept--pressed: darken($green--primary, 5%)
///BUTTON-BGC-RESET
$button-reset--enabled: $red--primary
$button-reset--hover: darken($red--primary, 2.5%)
$button-reset--pressed: darken($red--primary, 5%)






$color-green--enabled: rgba($green--primary, .0)
$color-green--hover: rgba($green--primary, .08)
$color-green--focus: rgba($green--primary, .24)
$color-green--selected: rgba($green--primary, .16)
$color-green--activated: rgba($green--primary, .24)
$color-green--pressed: rgba($green--primary, .32)
$color-green--dragged: rgba($green--primary, .16)

$color-red--enabled: rgba($red--primary, .0)
$color-red--hover: rgba($red--primary, .08)
$color-red--focus: rgba($red--primary, .24)
$color-red--selected: rgba($red--primary, .16)
$color-red--activated: rgba($red--primary, .24)
$color-red--pressed: rgba($red--primary, .32)
$color-red--dragged: rgba($red--primary, .16)

// $button-accept-color: #2FD782
// $button-accept--enabled: rgba($green--primary, .0)
// $button-accept--hover: rgba($green--primary, .08)
// $button-accept--focus: rgba($green--primary, .24)
// $button-accept--selected: rgba($green--primary, .16)
// $button-accept--activated: rgba($green--primary, .24)
// $button-accept--pressed: rgba($green--primary, .32)
// $button-accept--dragged: rgba($green--primary, .16)

